APP_NAME=OfficeApp ERP
APP_ENV=development
APP_DEBUG=true
APP_TIMEZONE=Africa/Addis_Ababa
APP_COMPANY_CODE=default
APP_PORT=8080

SESSION_NAME=office_app_session
SESSION_COOKIE_SECURE=false
SESSION_COOKIE_SAMESITE=Lax

DB_DRIVER=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=office_app_dev
DB_USERNAME=officeapp
DB_PASSWORD=change-this-development-password
DB_ROOT_PASSWORD=change-this-development-root-password
DB_HOST_PORT=3307

DEV_ADMIN_USERNAME=admin
DEV_ADMIN_EMAIL=admin@example.test
DEV_ADMIN_DISPLAY_NAME=Platform Administrator
DEV_ADMIN_PASSWORD=Change-This-Development-Admin-2026!
